img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  height: 300px;
}

.second-row,
.third-row {
  display: flex;
  gap: 5px;
}

.second-row > div,
.third-row > div {
  flex: 1;
}

.second-row-third-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.second-row-third-column div {
  height: calc(50% - 2.5px);
}

.third-row-second-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.third-row-second-column img {
  height: calc(50% - 2.5px);
}
